@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

@font-face {
    font-family: comfortaa-var;
    src: url('Comfortaa-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
    outline: none;
    font-family: comfortaa-var;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
}

html {
    background: #def
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.row,
div.col {
    display: flex;
    padding: 1em 10em;
    justify-content: center;
    align-items: center;
}

div.row>* {
    margin: 1em;
}

div.col {
    flex-direction: column;
}

div.circ {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}

div.circ>img {
    object-fit: fill;
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

h1 {
    border-bottom: 1px solid black;
}

h2 {
    color: gray;
    text-align: center;
}

img.social {
    width: auto;
    height: 32px;
}

::selection {
    background: navy;
    color: white;
}