* {
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    height: 100%;
    padding: 0 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

footer {
    padding: 1rem;
    background: #eee;
}

a,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}