@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header a {
    padding: 1rem;
}

main {
    flex: 1;
    /* allows <main> to grow to the viewport size */
    width: 40rem;
    max-width: 100%;
    padding: 1rem;
    margin: auto;
}

footer {
    padding: 1rem;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}

code {
    font-family: 'Jetbrains Mono', monospace;
    background: whitesmoke;
    padding: 0 0.25rem;
}

a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

table,
img,
.instagram-media {
    width: 100%;
}

table th,
table td {
    padding: 0.25rem;
}

table thead {
    background: lavender;
}

tbody tr:nth-child(2n) {
    background: ghostwhite;
}

footer a .bi,
footer a .bi:active {
    padding: 0 0.5rem;
    color: black;
    text-decoration: none;
}

footer a .bi:hover {
    color: dimgray;
}

footer a:hover {
    text-decoration: none;
}