* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
}

header>a {
    padding: 1rem;
}

main {
    flex: 1;
    /* allows <main> to grow to the viewport size */
    width: 40rem;
    max-width: 100%;
    padding: 1rem;
    margin: auto;
}

footer {
    padding: 1rem;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

table,
img {
    width: 100%;
}

footer a .bi,
footer a .bi:active {
    margin: 0 0.5rem;
    color: black;
}

footer a .bi:hover {
    color: dimgray;
}