<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Nicolas Ventura">
    <meta name="description" content="{{ content | excerpt }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>

<body>
    <header>
        <nav>
            {%- for item in collections.all -%}
            {%- unless item.data.tags contains 'post' -%}
            <a href="{{ item.url }}">{{ item.data.title }}</a>
            {%- endunless -%}
            {%- endfor -%}
        </nav>
        <h1>{{ title }}</h1>
        {%- if date -%}
        <h3>{{ date | date_to_long_string }}</h3>
        {%- endif -%}
        {%- if tags contains 'post' -%}
        <p><a href="/">All Posts</a></p> <!-- TODO -->
        {%- endif -%}
    </header>
    <main>{{ content }}</main>
    <footer>&copy; {{ 'now' | date:'%Y' }} Nicolas Ventura</footer>
</body>

</html>